.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

#search-btn {
  position: fixed;
  z-index: 1000;
  // in browser it seems god but ugly on phone
  // margin: 40px 101px 0;
  margin: 40% 38% 0;
}
